<br><br>

<head>
  <script src="https://www.paypal.com/sdk/js?client-id=sb"> </script>
  <script> paypal.Buttons().render('card-body'); </script>
</head>

<body>
  <div class="container">

    <div class="card">

      <div class="card-header">

        <div class="float-left">
          <h4>Formas de pagamento</h4>
        </div>

      </div>

      <div class="card-body">

        <a href="/enderecodeentrega" class="float-left btn btn-outline-warning">Voltar</a>

        <a href="/finalizacompra" class="float-right btn btn-outline-success">Finalizar compra</a>

      </div>

    </div>

  </div>
</body>