<br><br>


<div class="container">

  <div class="card">

    <div class="card-header">

      <div class="float-left">
        <h4>Formas de pagamento</h4>
      </div>

    </div>

    <div class="card-body">

      <div class="text-center">
        <!-- Botão de pagamento paypal -->
        <!--<input type="number" [(ngModel)]="totalAmount" style="padding-bottom: 10px;">-->
        <h2 *ngIf="paypalLoad">Paypal button is loading...</h2>
        <div id="paypal-checkout-btn"></div>
        <!-- Botão de pagamento paypal -->


        <!-- Botão de pagamento boleto -->
        <!--
          <form action="https://sandbox.boletobancario.com/boletofacil/integration/button/checkout.html" 
        method="post">
          <input type="hidden" name="code" value="AF98B551FBA7C2CF" />
          -->
        <a href="https://sandbox.boletobancario.com/boletofacil/integration/button/checkout.html?code=AF98B551FBA7C2CF">
          <input type="image"
            src="https://sandbox.boletobancario.com/boletofacil/img/payment-buttons/button-box-medium.png" name="submit"
            alt="Pague com Boleto Banc&aacute;rio!" />
        </a>
        <!-- </form> -->
        <!-- Botão de pagamento boleto -->

      </div>


      <div>
        <a [routerLink]="['/enderecodeentrega']" class="float-left btn btn-outline-warning">Voltar</a>
      </div>

      <span class="float-right">
        <button (click)="openModal(template)" class="btn btn-outline-success">
          Finalizar Compra
        </button>
      </span>

    </div>

  </div>

</div>




<!-- MODAL, CONFIRMAR EXCLUSÃO PRODUTO-->
<ng-template #template>

  <div class="modal-body text-center">
    <p>Você deseja comprar esses produtos?</p>
    <button type="button" class="btn btn-primary" (click)="confirm(produto)">Sim</button>
    <button type="button" class="btn btn-default" (click)="decline()">Não</button>
  </div>

</ng-template>
<!-- MODAL, CONFIRMAR EXCLUSÃO PRODUTO-->