<br>
<div class="container">
  <h3>Cadastro de nova demanda:</h3>
  <br>
  <form>
        <p>Selecione um tipo sanguíneo:</p>
    
    <div>
      <input type="radio" id="huey" name="drone" (click)="myFunction(this.value)" value="A+">
      <label for="A+">A+</label>
    </div>
    
    <div>
      <input type="radio" id="dewey" name="drone" (click)="myFunction(this.value)" value="A-">
      <label for="A-">A-</label>
    </div>
    
    <div>
      <input type="radio" id="louie" name="drone" (click)="myFunction(this.value)" value="AB+">
      <label for="AB+">AB+</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" (click)="myFunction(this.value)" value="AB-">
      <label for="AB-">AB-</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" (click)="myFunction(this.value)" value="B+">
      <label for="B+">B+</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" (click)="myFunction(this.value)" value="B-">
      <label for="B-">B-</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" (click)="myFunction(this.value)" value="O+">
      <label for="O+">O+</label>
    </div>

    <div>
      <input type="radio" id="louie" name="drone" (click)="myFunction(this.value)" value="O-">
      <label for="O-">O-</label>
    </div>
    
    <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Deseja continuar?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        Atenção! Ao clicar em "Sim" você confirmará a criação da demanda.
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" style="margin:5px;" (click)="hideModal()" routerLink="/hemocentro" data-dismiss="modal">Sim</button>
        <button type="submit" class="btn btn-primary" style="margin:5px;" (click)="justHide()">Não</button>
    </div>
    </ng-template>

    <button type="submit" class="btn btn-primary" (click)="openModal(template)">Continuar</button>
    <button type="submit" class="btn btn-primary"  style="margin:5px;"  routerLink="/hemocentro">Cancelar</button>

  </form>
</div>