<br>
<div class="container">

  <form #demandaForm="ngForm" (ngSubmit)="onSubmit(demandaForm)">

    <div class="form-row ">
      <div class="form-group col-md-6">
        <label for="tipoSanguineo">Tipo Sanguineo</label>
        <input type="text" class="form-control" name="tipoSanguineo" id="tipoSanguineo" placeholder="Informe o tipo Sanguíneo"
          [ngModel]="usuario.tipoSanguineo" required #tipoSanguineo="ngModel">

        <div *ngIf="!tipoSanguineo.valid && tipoSanguineo.touched" class="text-danger">
          Tipo Sanguineo é obrigatório.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!demandaForm.valid">Continuar</button>
    <button type="submit" class="btn btn-primary" [disabled]="!demandaForm.valid">Cancelar</button>

  </form>
</div>