p,
label {
    font: 1rem 'Fira Sans', sans-serif;
}

input {
    margin: .4rem;
}
@media(min-width: 576px) {
  .modal-dialog {
    max-width: 800px;
    margin: 1.75rem auto;
  }
}
@media (min-width: 1000px) {
  .product_image_area {
    padding-top: 50px;
  }
}

.s_product_text {
  margin-left: -15px;
  margin-top: 0px;
}