<br>

<div class="row">

  <!-- Menu de Relatórios -->
  <div class="col-md-1">
    <div class="btn-group-vertical">
      <h5>Relatórios</h5>
      <a href="/relatorio1" class="btn btn-dark button1" role="button" aria-pressed="true">Relatorio 1</a>
      <a href="/relatorio2" class="btn btn-dark button1" role="button" aria-pressed="true">Relatorio 2</a>
      <a href="/relatorio3" class="btn btn-dark button1" role="button" aria-pressed="true">Relatorio 3</a>
    </div>
  </div>

  <!-- Tabela de Relatórios -->
  <div class="container">
    <div class="text-center">
      <h4>Quantidade de doadores por tipo sanguíneo</h4>
      <br>

      <div class="col-md-0">
        <div class="card">

          <table class="table table-hover table-striped">

            <thead>
              <tr>
                <th>Tipo sanguíneo</th>
                <th>Quantidade de doadores</th>
              </tr>
            </thead>

            <tbody>
              <tr *ngFor="let relatorio of relatorios">
                <td>{{ relatorio.tipofator }}</td>
                <td>{{ relatorio.qtddoador }}</td>
              </tr>
            </tbody>

          </table>

        </div>
      </div>
    </div>



  </div>

</div>