<br>

<form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)">

  <div class="form-group">
    <label for="email" class="control-label">E-mail</label>
    <input type="email" class="form-control" name="email" id="email" placeholder="nome@email.com"
      [ngModel]="usuario.email" required email #email="ngModel">


  </div>

  <div class="form-group">
    <label for="senha">Senha</label>
    <input type="password" class="form-control" name="senha" id="senha" placeholder="Senha" [ngModel]="usuario.senha"
      required #senha="ngModel">

    <div *ngIf="!senha.valid && senha.touched">
      Senha é obrigatória.
    </div>
  </div>

  <!--
 **Ainda não ta verificando o robô**
  <div class="form-group form-check">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Não sou um robô</label>
    </div>
  -->

  <button type="submit" class="btn btn-primary" [disabled]="!loginForm.valid">Submit</button>

</form>

<br>


/Dividir tela/ <br><br>
<b>Ainda não tenho cadastro:</b>
<br><br>
Para comprar em nosso site é preciso realizar um cadastro. Através ficará por dentro das novidades, ofertas e promoções.
<br><br>
<!--a href="/cadastro" class="btn btn-link" role="button" aria-pressed="true">Cadastrar</a-->
<a href="/cadastro" class="btn btn-dark" role="button" aria-pressed="true">Cadastrar</a>