/*export interface Produtos {
    id: number;
    nome: string;
    quantidade: number;
    descricao: string;
    valorunitario: float
    categoria
    tamanho
    volume
    material
    genero
  },
}
*/