<!-- ================ Area de banner ================== -->
<section class="blog-banner-area" id="category">
  <div class="container h-100">
    <div class="blog-banner">
      <div class="text-center">
        <h1>Catálogo de Produtos</h1>
        <nav aria-label="breadcrumb" class="banner-breadcrumb">
        </nav>
      </div>
    </div>
  </div>
</section>
<!-- ================ Area de banner ================== -->





<!-- ================ Menu de filtros ================= -->
<section class="section-margin--small mb-5">

  <div class="container">

    <div class="row">

      <div class="col-xl-3 col-lg-4 col-md-5">

        <!-- Sidebar para listar categorias -->
        <div class="sidebar-categories">

          <div class="head">Categorias</div>

          <ul class="main-categories">
            <li class="common-filter">
              <!-- O dos meninos tinha essas coisas aqui em baixo no ul e li -->
              <!--
                      <ul *ngFor="let plataforma of plataformas; let i= index">
                        <li class="filter-list">
                          <input class="pixel-checkbox" 
                          type="checkbox" 
                          [(ngModel)]="camposPlata[i]" 
                          (change)="getPlataforma(plataforma.nome)" >
                          {{plataforma.nome}}
                        </li>
                      </ul>
                    -->

              <ul *ngFor="let categoria of categorias; let i= index">
                <li class="filter-list">
                  <input class="pixel-checkbox" type="checkbox">
                  {{ categoria.nome }}
                </li>
              </ul>

            </li>
          </ul>

        </div>

        <!-- Sidebar para listar filtros -->

        <div class="sidebar-filter">

          <div class="top-filter-head">Filtro de Produtos</div>

          <div class="common-filter">

            <div class="head">Genero</div>
            <ul *ngFor="let genero of generos">
              <!--
                  <input
                  [...]
                  [(ngModel)]="camposGen[i]"
                  (change)="getGenero(genero.nome)"
                  >
                -->
              <li class="filter-list">
                <input class="pixel-checkbox" type="checkbox">
                {{genero.nome}}
              </li>
            </ul>

            <div class="head">Material</div>
            <ul *ngFor="let material of materiais">
              <!--
                  <input
                  [...]
                  [(ngModel)]="camposGen[i]"
                  (change)="getGenero(genero.nome)"
                  >
                -->
              <li class="filter-list">
                <input class="pixel-checkbox" type="checkbox">
                {{material.nome}}
              </li>
            </ul>

            <div class="head">Tamanho</div>
            <ul *ngFor="let tamanho of tamanhos">
              <!--
                  <input
                  [...]
                  [(ngModel)]="camposGen[i]"
                  (change)="getGenero(genero.nome)"
                  >
                -->
              <li class="filter-list">
                <input class="pixel-checkbox" type="checkbox">
                {{tamanho.nome}}
              </li>
            </ul>


          </div>

        </div>

      </div>


      <div class="col-xl-9 col-lg-8 col-md-7">

        <!-- Barra de filtros -->
        <div class="filter-bar d-flex flex-wrap align-items-center">

          <!-- Ordenação dos produtos -->
          <div class="sorting">
            <select (change)="ordenaProdutos($event.target.value)">
              <option value="0">Ordenação Padrão</option>
              <option value="1">Ordem Alfabetica</option>
              <option value="2">Mais Recente</option>
            </select>
          </div>

          <!-- Quantidade de produtos exibidos -->
          <div class="sorting mr-auto">
            <select>
              <option value="10">Exibir 10</option>
              <option value="20">Exibir 20</option>
              <option value="30">Exibir 30</option>
            </select>
          </div>

          <!-- Limpar filtros selecionados -->
          <div class="sorting mr-auto">
            <button class="btn btn-danger" (click)="limpar()">Limpar Filtros <i class="fas fa-trash-alt"></i></button>
          </div>

          <!-- Barra de busca -->
          <div>
            <div class="input-group filter-bar-search">
              <!--
              <input
              (keyup.enter)="pegaJogos(filtros)" 
              [(ngModel)]="filtros.jogo"
              >
              -->
              <input type="text" placeholder="Pesquisar" >
              <div class="input-group-append">
                <!--
                <button
                (click)="pegaJogos(filtros)"
                >
                -->
                <button type="button" ><i class="fas fa-search"></i></button>
              </div>
            </div>
          </div>

        </div>


        <!-- Area do catalogo de produtos -->
        <section class="lattest-product-area pb-40 category-list">
            <div class="row">
              <ng-container *ngFor="let produto of produtos">
                <div class="col-md-6 col-lg-4">
                  <div class="card text-center card-product">

                    
                    <div class="card-product__img">
                      <img class="card-img" src="{{ produto.urlimagem }}" alt="" height="293" width="255">
                      <ul class="card-product__imgOverlay">
                        <li><button><i class="ti-search"></i></button></li>
                        <li><button><i class="ti-shopping-cart"></i></button></li>
                        <li><button><i class="ti-heart"></i></button></li>
                      </ul>
                    </div>


                    <div class="card-body">
                      <!--<p>Accessories</p>-->
                      <h4 class="card-product__title"><a href="#">{{ produto.nome }}</a></h4>
                      <!--<p class="card-product__price">$30.00</p>-->
                    </div>
                  </div>
                </div>
              </ng-container>

            </div>
          </section>
        <!-- Area do catalogo de produtos -->


      </div>


    </div>
  </div>
</section>
<!-- ================ Menu de filtros ================= -->








<div class="col-xl-9 col-lg-8 col-md-7">
  <!-- Start Filter Bar -->
  <div class="filter-bar d-flex flex-wrap align-items-center">

    <div class="sorting">
      <!--
                <select (change)="ordenaJogos($event.target.value)">
                  -->
      <select>
        <option value="0">Ordenação Padrão</option>
        <option value="1">Ordem Alfabetica</option>
        <option value="2">Mais Recente</option>
        <option value="1">Ordenação Lançamento</option>
      </select>
    </div>
    <div class="sorting mr-auto">
      <select>
        <option value="10">Exibir 10</option>
        <option value="20">Exibir 20</option>
        <option value="30">Exibir 30</option>
      </select>
    </div>
    <div class="sorting mr-auto">
      <!--
                <button class="btn btn-danger" (click)="limpar()">Limpar Filtros <i class="fas fa-trash-alt"></i></button>
                -->
      <button class="btn btn-danger" (click)="limpar()">Limpar Filtros <i class="fas fa-trash-alt"></i></button>
    </div>
    <div>
      <div class="input-group filter-bar-search">
        <!--
                  <input type="text" placeholder="Pesquisar" (keyup.enter)="pegaJogos(filtros)" [(ngModel)]="filtros.jogo">
                  -->
        <input type="text" placeholder="Pesquisar">
        <div class="input-group-append">
          <!--
                    <button type="button" (click)="pegaJogos(filtros)"><i class="fas fa-search"></i></button>
                    -->
          <button type="button"><i class="fas fa-search"></i></button>
        </div>
      </div>
    </div>

  </div>
  <!-- End Filter Bar -->




  <!-- Start Best Seller -->

  <!-- Modificar para o nosso
            <section class="lattest-product-area pb-40 category-list">
              <div class="row">
                <ng-container *ngFor="let jogo of jogos">
                  <div class="col-md-6 col-lg-4">
                    <div class="card text-center card-product">
                      <div class="card-product__img">
                        <img class="card-img" src="{{jogo.urlimagem}}" alt="" height="293" width="255">
                        <ul class="card-product__imgOverlay">
                          <li><button><i class="ti-search"></i></button></li>
                          <li><button><i class="ti-shopping-cart"></i></button></li>
                          <li><button><i class="ti-heart"></i></button></li>
                        </ul>
                      </div>
                      <div class="card-body">
                        <-<p>Accessories</p>->
                        <h4 class="card-product__title"><a href="#">{{jogo.nome}}</a></h4>
                        <-<p class="card-product__price">$150.00</p>->
                      </div>
                    </div>
                  </div>
                </ng-container>
    
              </div>
            </section>
          -->
  <!-- End Best Seller -->
</div>