<br>

<div class="card">

  <div class="card-header">

    <div class="float-left">
      <h4>Produtos</h4>
    </div>

    <div class="float-right">
      <!--button type="button" class="btn btn-primary" [routerLink]="['novoProduto']"-->
      <button type="button" class="btn btn-primary">
        <!-- Pendente, novo produto -->
        Novo Produto
      </button>
    </div>

  </div>

  <div class="card-body">

    <!--Só vai mostrar produtos caso exista produtos-->

    <table id="produtos" class="table table-hover" *ngIf="produtos$ | async as produtos; else loadingError">
      <thead>
        <tr>
          <th>#</th>
          <th>Produto</th>
          <th>Qtd</th>
          <th>Valor</th>
          <th></th>
        </tr>
      </thead>

      <tbody>

        <tr *ngFor="let produto of produtos">
          <td>{{ produto.id }}</td>
          <td>{{ produto.nome }}</td>
          <td>{{ produto.quantidade }}</td>
          <td>{{ produto.valorunitario }}</td>
          <td>
            <span class="float-right">
              <button class="btn btn-outline-warning mb-1 btn-sm">
                <!-- Pendendo botão atualizar -->
                Atualizar
              </button>
              {{ '' }}
              <button class="btn btn-outline-danger mb-1 btn-sm">
                <!-- Pendente botão remover -->
                Remover
              </button>
            </span>
          </td>
        </tr>

      </tbody>

    </table>

    <ng-template #loadingError>
      <div *ngIf="error$ | async; else loading">
        Erro ao carregar cursos. Tente novamente mais tarde.
      </div>
      <ng-template #loading>
        <span>Carregando Produtos...</span>
      </ng-template>
    </ng-template>


  </div>

</div>

