<br>
<div class="container">

  <form #confirmarForm="ngForm" (ngSubmit)="onSubmit(confirmarForm)">

    <div class="form-row ">
      <div class="form-group col-md-6">
        <label for="nomeHemocentro">Nome Hemocentro</label>
        <input type="text" class="form-control" name="nomeHemocentro" id="nomeHemocentro" placeholder="Nome do hemocentro" [ngModel]="usuario.nomeHemocentro"
          required #nomeHemocentro="ngModel">
          
        <div *ngIf="!nomeHemocentro.valid && nomeHemocentro.touched" class="text-danger">
          O nome do hemocentro é obrigatório.
        </div>
      </div>

      <div class="form-group col-md-6">
        <label for="cpf">CPF</label>
        <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF do doador"
          [ngModel]="usuario.cpf" required #cpf="ngModel">

        <div *ngIf="!cpf.valid && cpf.touched" class="text-danger">
          CPF do doador é obrigatório.
        </div>
      </div>
    </div>

    <button type="submit" class="btn btn-primary" [disabled]="!confirmarForm.valid">Continuar</button>

  </form>
</div>