<br />
<div class="container">
  <h3>Confirmar uma doação:</h3>
  <br />
  <form #cadastroForm="ngForm">
    <div class="form-row ">
      <div class="form-group col-md-6" #cpf>
        <label for="cpf">CPF do doador</label>
        <input
          [ngModel]="confirmar.cpf"
          type="text"
          class="form-control"
          name="cpf"
          id="cpf"
          placeholder="11122233344"
        />
      </div>

      <div class="form-group col-md-6" #qtd>
        <label for="qtd">Quantidade Doada</label>
        <input
          [ngModel]="confirmar.quantidade"
          type="text"
          class="form-control"
          name="quantidade"
          id="qtd"
          placeholder="ml"
        />
      </div>

      <div class="form-group col-md-6" #observacao>
        <label for="observacao">Observação</label>
        <input
          [ngModel]="confirmar.observacao"
          type="text"
          class="form-control"
          name="observacao"
          id="observacao"
          placeholder=""
        />
      </div>
    </div>
    <button
      type="submit"
      class="btn btn-primary"
      (click)="openModal(template, cadastroForm)"
    >
      Continuar
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      style="margin:5px;"
      routerLink=""
    >
      Cancelar
    </button>
  </form>
</div>

<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Por favor, confira os dados abaixo:</h4>
    <button
      type="button"
      class="close pull-right"
      aria-label="Close"
      (click)="modalRef.hide()"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    Doador: {{ message?.nome }} {{ message?.sobrenome }}
    <br />
    Cpf: {{ message?.cpf }}
    <br />
    <br />
    Quantidade doada: {{ confirmar?.quantidade }} ml
    <br />
    Observação: {{ confirmar?.observacao }}
    <br />
  </div>
  <div class="modal-footer">
    <button
      type="submit"
      class="btn btn-primary"
      style="margin:5px;"
      (click)="hideModal(cadastroForm)"
      routerLink=""
      data-dismiss="modal"
      [disabled]="!cadastroForm.valid"
    >
      Sim
    </button>
    <button
      type="submit"
      class="btn btn-primary"
      style="margin:5px;"
      (click)="justHide()"
    >
      Não
    </button>
  </div>
</ng-template>
