<br>
<div class="container">

  <form #confirmarForm="ngForm" (ngSubmit)="onSubmit(confirmarForm)">

    <div class="form-row ">
      <div class="form-group col-md-6">
        <label for="cpf">CPF do doador</label>
        <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF do doador"
          [ngModel]="usuario.cpf" required #cpf="ngModel">
    </div>

    <div class="form-group col-md-6">
      <label for="cpf">Quantidade Doada</label>
      <input type="text" class="form-control" name="cpf" id="cpf" placeholder="CPF do doador"
        [ngModel]="usuario.cpf" required #cpf="ngModel">
  </div>

  <div class="form-group col-md-6">
    <label for="nomeHemocentro">Observação</label>
    <input type="text" class="form-control" name="nomeHemocentro" id="nomeHemocentro" placeholder="Nome do hemocentro" [ngModel]="usuario.nomeHemocentro"
      required #nomeHemocentro="ngModel">
  </div>

    <button type="submit" class="btn btn-primary" onclick="Confirmar()" [disabled]="!confirmarForm.valid">Continuar</button>
    <button type="submit" class="btn btn-primary" onclick="Cancelar()" [disabled]="!confirmarForm.valid">Cancelar</button>
  </form>
</div>
