<br><br>

<div class="container">

  <div class="card">

    <div class="card-header">

      <div class="float-left">
        <h4>Carrinho de Compras</h4>
      </div>

      <div class="float-right">
        <!--button type="button" class="btn btn-primary" [routerLink]="['novoProduto']"-->
        <a href="/catalogo" class="float-right btn btn-outline-primary">Continuar comprando</a>
      </div>

    </div>

    <div class="card-body">

      <!--Só vai mostrar produtos caso exista produtos-->

      <table id="produtos" class="table table-hover" *ngIf="produtos$ | async as produtos; else loadingError">
        <thead>
          <tr>
            <th>#</th>
            <th>Produto</th>
            <th>Preço</th>
            <th>Qtd</th>
            <th>Total</th>
            <th></th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let produto of produtos">
            <td>{{ produto.nome }}</td>
            <td>{{ produto.quantidade }}</td>
            <td>{{ produto.valorunitario }}</td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
              <span class="float-right">
                <button (click)="deletar(produto.id)" class="btn btn-outline-danger mb-1 btn-sm">
                  <!-- Pendente botão remover -->
                  X
                </button>
              </span>
            </td>
          </tr>

        </tbody>

      </table>

      <ng-template #loadingError>
        <div *ngIf="error$ | async; else loading">
          Carrinho vazio!
        </div>
        <ng-template #loading>
          <span>Carregando Carrinho...</span>
        </ng-template>
      </ng-template>

      <a href="/enderecodeentrega" class="float-right btn btn-outline-success">Próximo</a>

    </div>

  </div>

</div>