<br>
<div class="container">

  <form #doadorForm="ngForm" (ngSubmit)="onSubmit(doadorForm)">

    <div class="form-row ">

      <div class="form-group col-md-6">
        <label for="tipoSanguineo">Tipo Sanguineo</label>
        <input type="text" class="form-control" name="tipoSanguineo" id="tipoSanguineo" placeholder="Informe seu tipo sanguineo"
          [ngModel]="usuario.tipoSanguineo" required #tipoSanguineo="ngModel">
      </div>
    </div>

     //informações sobre doenças
    //https://www.primefaces.org/primeng/#/inputswitch

    <button type="submit" class="btn btn-primary" [disabled]="!doadorForm.valid">Continuar</button>

  </form>
</div>