<nav
  class="navbar navbar-expand-lg navbar bg"
  style="background-color: #CAEFF2;"
>
  <a class="navbar-brand text-danger" href="">Home</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <!-- 
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    =
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </li>
            -->
      <li class="nav-link">
        <a routerLink="">Tuntum</a>
      </li>

      <li class="nav-link">
        <a routerLink="/catalogo">Loja</a>
      </li>

      <li class="nav-link">
        <a routerLink="/login">Login</a>
      </li>

      <li class="nav-link">
        <a routerLink="/admin-hemo">Admin-Hemocentro</a>
      </li>

      <li class="nav-link">
        <a routerLink="/admin-loja">Admin-Loja</a>
      </li>
    </ul>
  </div>
</nav>

<!-- Onde da o espaço nas laterais do site 
<div class="container">
    <router-outlet></router-outlet>
</div>
-->

<router-outlet></router-outlet>
