<!--
<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">    
</head>
-->


<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand text-danger" href="">Doação de Sangue</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">

          <!--
          <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                  aria-haspopup="true" aria-expanded="false">
                  =
              </a>
              <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" href="#">Action</a>
                  <a class="dropdown-item" href="#">Another action</a>
                  <div class="dropdown-divider"></div>
                  <a class="dropdown-item" href="#">Something else here</a>
              </div>
          </li>
          -->

          <li class="nav-link">
              <a [routerLink]="['']">Home</a>
          </li>

          <!-- Implementando essa parte -->
          <li class="nav-link" *ngIf="!logado">
              <a [routerLink]="['/login']">Acessar meu perfil</a>
          </li>
          <!-- Implementando essa parte -->


          <li class="nav-link">
              <a [routerLink]="['/catalogo']">Catálogo</a>
          </li>

          <li class="nav-link">
              <a [routerLink]="['/relatorio/1']">Relatórios</a>
          </li>


          <!-- Implementando essa parte -->
          <li class="nav-link" *ngIf="logado">
              <a [routerLink]="" (click)="sair()">Sair</a>
          </li>
          <!-- Implementando essa parte -->

      </ul>

      <!--
      <form class="form-inline my-2 my-lg-0" #busca="ngForm" (ngSubmit)="onSubmit(busca)">
          <input class="form-control mr-sm-2" type="search" name="pesquisa" id="pesquisa" placeholder="Search"
              aria-label="Search" [ngModel]="busca.pesquisa" #pesquisa="ngModel">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
      -->
  </div>

</nav>

<!-- Onde da o espaço nas laterais do site 
<div class="container">
  <router-outlet></router-outlet>
</div>
-->


<button (click)="saveInLocal('1', 'produto1')" ></button>
<button (click)="saveInLocal('2', 'produto2')" ></button>


<router-outlet></router-outlet>

