<html>

<head>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <script>
    $(document).ready(function () {
      $("input.todos").click(function () {
        $("p.1").empty();
        $.getJSON("https://doacaodesangue.herokuapp.com/produto", function (
          produtos
        ) {
          $.each(produtos, function (i, field) {
            $("p.1").append(
              produtos[i].categoria +
              " | " +
              produtos[i].nome +
              " | " +
              produtos[i].valorunitario +
              "<br>"
            );
          });
        });
      });
      $("input.camisas").click(function () {
        $("p.2").empty();
        $.getJSON("https://doacaodesangue.herokuapp.com/camisas", function (
          camisas
        ) {
          $.each(camisas, function (i, field) {
            $("p.2").append(
              camisas[i].categoria +
              " | " +
              camisas[i].nome +
              " | " +
              camisas[i].valorunitario +
              " | " +
              camisas[i].tamanho +
              " | " +
              camisas[i].material +
              " | " +
              camisas[i].genero +
              "<br>"
            );
          });
        });
      });
      $("input.canecas").click(function () {
        $("p.3").empty();
        $.getJSON("https://doacaodesangue.herokuapp.com/canecas", function (
          canecas
        ) {
          $.each(canecas, function (i, field) {
            $("p.3").append(
              canecas[i].categoria +
              " | " +
              canecas[i].nome +
              " | " +
              canecas[i].valorunitario +
              " | " +
              canecas[i].tamanho +
              " | " +
              canecas[i].material +
              " | " +
              canecas[i].volume +
              "<br>"
            );
          });
        });
      });
      $("input.bottons").click(function () {
        $("p.4").empty();
        $.getJSON("https://doacaodesangue.herokuapp.com/bottons", function (
          bottons
        ) {
          $.each(bottons, function (i, field) {
            $("p.4").append(
              bottons[i].categoria +
              " | " +
              bottons[i].nome +
              " | " +
              bottons[i].valorunitario +
              " | " +
              bottons[i].material +
              "<br>"
            );
          });
        });
      });
    });
  </script>
</head>

<body ng-app="">
  <h2>Catalogo de Produtos</h2>

  <from>
    Filtro:
    <input type="radio" ng-model="filtroProdutos" class="todos" value="todos" />Todos os produtos
    <input type="radio" ng-model="filtroProdutos" class="camisas" value="camisas" />Camisas
    <input type="radio" ng-model="filtroProdutos" class="canecas" value="canecas" />Canecas
    <input type="radio" ng-model="filtroProdutos" class="bottons" value="bottons" />Bottons <br /><br />
  </from>

  <div ng-switch="filtroProdutos">
    <div ng-switch-when="todos">
      <u>Nossos produtos</u>
      <br><br>
      <b>Categoria | Nome | Valor</b>
      <p class="1"></p>
    </div>
    <div ng-switch-when="camisas">
      <u>Nossas camisas</u>
      <br><br>
      <b>Categoria | Nome | Valor | Tamanho | Material | Genero</b>
      <p class="2"></p>
    </div>
    <div ng-switch-when="canecas">
      <u>Nossas canecas</u>
      <br><br>
      <b>Categoria | Nome | Valor | Tamanho | Material | Volume</b>
      <p class="3"></p>
    </div>
    <div ng-switch-when="bottons">
      <u>Nossos Bottons</u>
      <br><br>
      <b>Categoria | Nome | Valor | Material</b>
      <p class="4"></p>
    </div>
  </div>
</body>

</html>