body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 50%;
    width: 160px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: rgb(231, 227, 227);
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #131313;
    display: block;
  }
  
  .sidenav a:hover {
    color: #83838375;
  }
  
  .main {
    margin-left: 60px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }
  
  @media screen and (max-height: 150px) {
    .sidenav a {font-size: 18px;}
  }
  
  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }