<br><br>

<div class="container">

  <div class="card">

    <div class="card-header">

      <div class="float-left">
        <h4>Endereço de entrega</h4>
      </div>

    </div>

    <div class="card-body">

      <form #entregaForm="ngForm" (ngSubmit)="onSubmit(entregaForm)">

        <div ngModelGroup="endereco">

          <div class="form-row">

            <!-- CEP -->
            <div class="form-group col-md-3">
              <label for="cep">CEP</label>
              <input type="text" class="form-control" name="cep" id="cep" placeholder="CEP" ngModel required
                #cep="ngModel" (blur)="consultaCEP($event.target.value, entregaForm)">

              <div *ngIf="!cep.valid && cep.touched" class="text-danger">
                Por favor, informe o CEP.
              </div>
            </div>

            <!-- Número -->
            <div class="form-group col-md-3">
              <label for="numero">Número</label>
              <input type="text" class="form-control" name="numero" id="numero" placeholder="Número" ngModel required
                #numero="ngModel">
            </div>

            <!-- Complemento -->
            <div class="form-group col-md-6">
              <label for="complemento">Complemento</label>
              <input type="text" class="form-control" name="complemento" id="complemento" placeholder="Complemento"
                ngModel #complemento="ngModel">
            </div>

          </div>

          <div class="form-row">

            <!-- Rua -->
            <div class="form-group col-md-12">
              <label for="rua">Rua</label>
              <input readonly type="text" class="form-control" name="rua" id="rua" ngModel required #rua="ngModel">
            </div>

          </div>

          <div class="form-row">

            <!-- Bairro -->
            <div class="form-group col-md-5">
              <label for="bairro">Bairro</label>
              <input readonly type="text" class="form-control" name="bairro" id="bairro" ngModel required
                #bairro="ngModel">
            </div>

            <!-- Cidade -->
            <div class="form-group col-md-4">
              <label for="cidade">Cidade</label>
              <input readonly type="text" class="form-control" name="cidade" id="cidade" ngModel required
                #cidade="ngModel">
            </div>

            <!-- Estado -->
            <div class="form-group col-md-3">
              <label for="estado">Estado</label>
              <input readonly type="text" class="form-control" name="estado" id="estado" ngModel required
                #estado="ngModel">
            </div>

          </div>

        </div>

      </form>

      <a href="/carrinho" class="float-left btn btn-outline-warning">Voltar</a>

      <a href="/pagamento" class="float-right btn btn-outline-success">Próximo</a>
      <button type="submit" class="float-right btn btn-outline-success" [disabled]="!entregaForm.valid">Submit</button>

    </div>

  </div>

</div>