
<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="header">
                      <h4 class="title">Demandas por tipo Sanguíneo</h4>
                  </div>
                  <div class="content table-responsive table-full-width">
                        <table class="table table-hover table-striped">
                              <thead>
                                  <tr>
                                      <th *ngFor="let cell of tableData1.headerRow">{{ cell }}</th>
                                  </tr>
                              </thead>
                              <tbody>
                                <tr *ngFor="let relatorio of hemocentro">
                                  <td>{{ relatorio.nomeHemocentro }}</td>
                                  <td>{{ relatorio.numeroDemandas }}</td>
                                  <td>
                                    <span class="float-right">
                                      <button class="btn btn-outline-danger mb-1 btn-sm">
                                          Voltar
                                      </button>
                                    </span>
                                  </td>
                                </tr>
                              </tbody>
                        </table>

                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
