<div>
 <br>
 <h3>Requisitos para doar</h3>
<p>
    <br>
- Apresentar documento de identidade oficial com foto, válido em todo território Nacional
(Carteira de identidade, de trabalho, habilitação, passaporte).
 <br>
- Estar se sentindo bem
 <br>
- Ter idade mínima de 16 anos (16 e 17 anos mediante consentimento formal do responsável
legal)
 <br>
- Ter idade máxima de 70 anos incompletos (desde que a primeira doação tenha ocorrido
antes dos 61 anos)
 <br>
- Pesar acima de 50 kg
 <br>
- Ter dormido bem na noite anterior à doação.
 <br>
- Não estar em jejum.
 <br>
- Fazer repouso mínimo de 6 horas na noite anterior à doação.
 <br>
- Não ingerir bebida alcóolica nas 12 horas antes da doação.
 <br>
- Evitar fumar, pelo menos 2 horas antes e depois da doação.
 <br>
- Evitar ingerir alimentos gordurosos.
 <br>
- Caso tenha almoçado, a doação deve ocorrer 3 horas após.
 </p>

<h3>Impedimentos temporários</h3>
 <br>
<p>
-Resfriado: aguardar sete dias após o desaparecimento dos sintomas.
<br>
- Gravidez.
<br>
- 90 dias após o parto normal e 180 dias após cesariana.
<br>
- Amamentação (se o parto ocorreu há menos de 12 meses).
<br>
- Ingestão de bebida alcoólica nas 12 horas que antecedem a doação.
<br>
- Tatuagem nos últimos 12 meses.
<br>
- Situações nas quais há maior risco de adquirir doenças sexualmente transmissíveis (aguardar
12 meses).
 </p>
<h3>Impedimentos definitivos</h3>
 <br>
<p>
- Hepatite após os 11 anos de idade.
<br>
- Evidência clínica ou laboratorial das seguintes doenças sexualmente transmissíveis pelo
sangue: Hepatites B e C, Aids (vírus HIV), doenças associadas aos vírus HTLV I e II e Doença de
Chagas.
<br>
- Uso de drogas injetáveis ilícitas.
<br>
- Malária.
<br>
- Outros impedimentos poderão ser identificados durante a entrevista de triagem, no dia da
doação. 
 </p>
</div>