<!-- <div class="container"> -->
<div class="d-flex" id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right" id="sidebar-wrapper">
    <!-- <div class="sidebar-heading">Meu teste</div> -->
    <div class="list-group list-group-flush">
      <a
        [routerLink]=""
        (click)="opcao = 0"
        class="list-group-item list-group-item-action bg-light"
        >Novo Produto</a
      >
      <a
        (click)="opcao = 1"
        class="list-group-item list-group-item-action bg-light"
        >Novo Hemocentro</a
      >
      <a
        (click)="opcao = 2"
        class="list-group-item list-group-item-action bg-light"
        >Relatório</a
      >
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">
    <!-- aqui tinha um navbar -->
    <div class="container-fluid">
      <app-produtos-lista *ngIf="opcao == 0"></app-produtos-lista>
      <app-confirmar-doacao *ngIf="opcao == 1"></app-confirmar-doacao>
      <!-- Página de dentro, onde vão aparecer as informações : CONTEUDO DA PAGINA-->
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>

<!-- /#wrapper -->
<!-- </div> -->
